<section class="py-4">
    <div class="form-floating w-25 ">
        <select class="form-select py-0" id="floatingSelect" aria-label="Floating label select example">
          <option selected>Select Your Category</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    <div class="row g-4 my-2">
        <div class="col-md-3 col-sm-12" *ngFor="let item of productList">
            <div>
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">ddfd</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>